@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3d3f76;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todo-form {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #686cd1;
  padding: 0.6rem 1rem;
  width: 380px;
  color: #ffffff;
  border-radius: 3px 0px 0px 3px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #686cd1;
  color: #fff;
  border: none;
  padding: 0.69rem;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  margin-bottom: 1rem;
  background-color: #3d3f76;
  border-radius: 3px;
}

.uncompleted {
  color: #fff;
}

.completed {
  color: #686cd1;
  text-decoration: line-through;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.margin-left-s {
  margin-left: 0.75rem;
}

.fa-trash,
.fa-pen,
.fa-square,
.fa-check {
  cursor: pointer;
  color: #ffffff;
}
